<!-- SOCKETS.IO -->
<script src="/js/lib/socket.io.js"></script>                                                   

<!--
   Reload.js - makes reload of page when server is reloading automatically by supervisor, dead simple;
               without that script you need to refresh browser every time you made changes in views
-->
<script src="/reload/reload.js"></script>

<script type="text/javascript">
    // Сокеты работают на 3000 порту,значит надо туда подключиться, порт можно изменить в "config/sockets.js"
    var socket = io.connect('http://localhost:3000');

    /*
      Так вы можете указать способ транспортировки данных в сокетах на выбор - ['polling', 'websocket'],
      By default, a long-polling connection is established first, then upgraded to "better" transports (like WebSocket) - From Socket.IO Docs
    */
    // var socket = io.connect('http://localhost:3000', {  transports: ['websocket'] });

    /*
    |--------------------------------------------------------------------------
    | Отправить сообщение на сервер с помощью сокетов (запуск события "send words")
    |--------------------------------------------------------------------------
    */
    function SendToSockets() {
      var text = document.getElementById('socket_field').value
      socket.emit('custom_event', text);
    }

    /*
    |--------------------------------------------------------------------------
    | Ловит событие "new message"
    |--------------------------------------------------------------------------
    */
    socket.on('socket message', function (data) {
        alert(data);
    });
</script>
